
@import '../../shared/scss/variables';

.buttonPrimary {
    font-size: $font-size-sm;
    line-height: $line-height-tight;
    padding: $spacing-squish-size-xs-v;
    font-family: $font-family-highlight;
    font-weight: $font-weight-bold;
    color: $neutral-color-5;
    background-color: $brand-color-primary-3;
    border: none;
}

.headingSmall{
    font-family: $font-family-highlight;
    font-size: $font-size-lg;
    line-height: $line-height-distant;
    font-weight: $font-weight-bold;
    color: $neutral-color-1;
    margin-bottom: $spacing-size-xxxs;
}


.subtitleSmall{
    font-family: $font-family-highlight;
    font-size: $font-size-md;
    line-height: $line-height-medium;
    font-weight: $font-weight-medium;
    color: $neutral-color-2;
    margin-bottom: $spacing-size-xxs;
}


.paragraph{
    font-family: $font-family-highlight;
    font-size: $font-size-xs;
    line-height: $line-height-distant;
    font-weight: $font-weight-regular;
    color: $neutral-color-2;
    margin-bottom: $spacing-size-sm;
}


.cardContent{
    padding: $spacing-size-lg;
    border-width: $border-size-thin;
    border-color:$neutral-color-4;
    background-color: $neutral-color-5;
    margin-bottom: $spacing-size-sm;
}
